<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 50.5 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=b2550ee57806fdb7d8cff26ebd9b87aa0b120ca5f3bcd690926f399566381739
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

**Note:This below code is added to remove blank rows from table**

In [7]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

In [10]:
df2 = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

In [11]:
type(df2)

pandas.core.frame.DataFrame

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [14]:
# Conectar a la base de datos
connection = sqlite3.connect('my_data1.db')  # Reemplaza con el nombre de tu base de datos
cursor = connection.cursor()

# Nombre de la tabla
nombre_de_la_tabla = 'SPACEXTABLE'  # Reemplaza con el nombre de tu tabla

# Obtener la estructura de la tabla
query = f"PRAGMA table_info({nombre_de_la_tabla});"
cursor.execute(query)
columns_info = cursor.fetchall()

# Extraer los nombres de las columnas
columnas = [info[1] for info in columns_info]

# Mostrar las columnas
print(columnas)

connection.close()

['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload', 'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome', 'Landing_Outcome']

In [37]:
connection = sqlite3.connect('my_data1.db')  # Reemplaza con el nombre de tu base de datos
cursor = connection.cursor()

# Nombre de la tabla y columna
nombre_de_la_tabla = 'SPACEXTABLE'  # Reemplaza con el nombre de tu tabla
nombre_de_la_columna = 'Launch_Site'  # Reemplaza con el nombre de la columna

# Obtener valores únicos de la columna
query = f"SELECT DISTINCT {nombre_de_la_columna} FROM {nombre_de_la_tabla};"
cursor.execute(query)
valores_unicos = cursor.fetchall()

# Mostrar los valores únicos
for valor in valores_unicos:
    print(valor[0])

# Cerrar la conexión
connection.close()

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [17]:
connection = sqlite3.connect('my_data1.db')  # Reemplaza con el nombre de tu base de datos
cursor = connection.cursor()

# Nombre de la tabla y columna
nombre_de_la_tabla = 'SPACEXTABLE'  # Reemplaza con el nombre de tu tabla
nombre_de_la_columna = 'Launch_Site'  # Reemplaza con el nombre de la columna

# Obtener registros que cumplen con el criterio
query = f"SELECT * FROM {nombre_de_la_tabla} WHERE {nombre_de_la_columna} LIKE 'CCA%';"
cursor.execute(query)
registros = cursor.fetchall()

# Mostrar los primeros 5 registros
for registro in registros[:5]:
    print(registro)

# Cerrar la conexión
connection.close()

('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [25]:
connection = sqlite3.connect('my_data1.db')  # Reemplaza con el nombre de tu base de datos
cursor = connection.cursor()

# Nombre de la tabla y columnas
nombre_de_la_tabla = 'SPACEXTABLE'  # Reemplaza con el nombre de tu tabla
nombre_de_la_columna_crs = 'Customer'  # Reemplaza con el nombre de la columna que indica si es un lanzamiento CRS
nombre_de_la_columna_carga_util = 'PAYLOAD_MASS__KG_'  # Reemplaza con el nombre de la columna que contiene la masa de carga útil

# Obtener la masa total de carga útil transportada por los cohetes CRS de NASA
query = f"SELECT SUM({nombre_de_la_columna_carga_util}) FROM {nombre_de_la_tabla} WHERE {nombre_de_la_columna_crs} LIKE '%(CRS)%' AND {nombre_de_la_columna_carga_util} IS NOT NULL;"
cursor.execute(query)
masa_total_carga_util = cursor.fetchone()[0]

# Mostrar la masa total de carga útil
print(f"La masa total de carga útil transportada por cohetes CRS de NASA es: {masa_total_carga_util} kg")

# Cerrar la conexión
connection.close()

La masa total de carga útil transportada por cohetes CRS de NASA es: 48213 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [27]:
connection = sqlite3.connect('my_data1.db')  # Reemplaza con el nombre de tu base de datos
cursor = connection.cursor()

# Nombre de la tabla y columnas
nombre_de_la_tabla = 'SPACEXTABLE'  # Reemplaza con el nombre de tu tabla
nombre_de_la_columna_booster = 'Booster_Version'  # Reemplaza con el nombre de la columna que indica si es un lanzamiento CRS
nombre_de_la_columna_carga_util = 'PAYLOAD_MASS__KG_'  # Reemplaza con el nombre de la columna que contiene la masa de carga útil

# Obtener la masa total de carga útil transportada por los cohetes CRS de NASA
query = f"SELECT AVG({nombre_de_la_columna_carga_util}) FROM {nombre_de_la_tabla} WHERE {nombre_de_la_columna_booster} LIKE '%F9 v1.1%' AND {nombre_de_la_columna_carga_util} IS NOT NULL;"
cursor.execute(query)
masa_total_carga_util = cursor.fetchone()[0]

# Mostrar la masa total de carga útil
print(f"El promedio de carga útil por F9 v1.1: {masa_total_carga_util} kg")

# Cerrar la conexión
connection.close()

El promedio de carga útil por F9 v1.1: 2534.6666666666665 kg

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [38]:
# Conectar a la base de datos
connection = sqlite3.connect('my_data1.db')  # Reemplaza con el nombre de tu base de datos
cursor = connection.cursor()

# Nombre de la tabla y columnas
nombre_de_la_tabla = 'SPACEXTABLE'  # Reemplaza con el nombre de tu tabla
nombre_de_la_columna_fecha = 'Date'  # Reemplaza con el nombre de la columna de fechas
nombre_de_la_columna_aterrizaje = 'Mission_Outcome'  # Reemplaza con el nombre de la columna de resultados de aterrizaje

# Obtener la fecha del primer aterrizaje exitoso en ground pad
query = f"SELECT MIN({nombre_de_la_columna_fecha}) FROM {nombre_de_la_tabla} WHERE {nombre_de_la_columna_aterrizaje} LIKE 'Success';"
cursor.execute(query)
fecha_primer_aterrizaje_exitoso = cursor.fetchone()[0]

# Mostrar la fecha del primer aterrizaje exitoso en ground pad
print(f"La fecha del primer aterrizaje exitoso en ground pad fue: {fecha_primer_aterrizaje_exitoso}")

# Cerrar la conexión
connection.close()

La fecha del primer aterrizaje exitoso en ground pad fue: 2010-04-06

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [39]:
connection = sqlite3.connect('my_data1.db')  # Reemplaza con el nombre de tu base de datos
cursor = connection.cursor()

# Nombre de la tabla y columnas
nombre_de_la_tabla = 'SPACEXTABLE'  # Reemplaza con el nombre de tu tabla
nombre_de_la_columna_nombre = 'Booster_Version'  # Reemplaza con el nombre de la columna de nombres de cohetes
nombre_de_la_columna_aterrizaje = 'Mission_Outcome'  # Reemplaza con el nombre de la columna de resultados de aterrizaje
nombre_de_la_columna_carga_util = 'PAYLOAD_MASS__KG_'  # Reemplaza con el nombre de la columna de masa de carga útil

# Obtener nombres de cohetes con éxito en drone ship y carga útil entre 4000 y 6000
query = f"SELECT {nombre_de_la_columna_nombre} FROM {nombre_de_la_tabla} WHERE {nombre_de_la_columna_aterrizaje} LIKE 'Success' AND {nombre_de_la_columna_carga_util} > 4000 AND {nombre_de_la_columna_carga_util} < 6000;"
cursor.execute(query)
nombres_de_cohetes = cursor.fetchall()

# Mostrar los nombres de los cohetes
for nombre in nombres_de_cohetes:
    print(nombre[0])

# Cerrar la conexión
connection.close()

F9 v1.1
F9 v1.1 B1011
F9 v1.1 B1014
F9 v1.1 B1016
F9 FT B1020
F9 FT B1022
F9 FT B1026
F9 FT B1030
F9 FT  B1021.2
F9 FT B1032.1
F9 B4 B1040.1
F9 FT  B1031.2
F9 FT  B1032.2
F9 B4  B1040.2
F9 B5 B1046.2
F9 B5 B1047.2
F9 B5 B1048.3
F9 B5 B1051.2
F9 B5B1060.1
F9 B5 B1058.2
F9 B5B1062.1

### Task 7




##### List the total number of successful and failure mission outcomes

In [41]:
# Conectar a la base de datos
connection = sqlite3.connect('my_data1.db')  # Reemplaza con el nombre de tu base de datos
cursor = connection.cursor()

# Nombre de la tabla y columna
nombre_de_la_tabla = 'SPACEXTABLE'  # Reemplaza con el nombre de tu tabla
nombre_de_la_columna_resultado = 'Mission_Outcome'  # Reemplaza con el nombre de la columna de resultados de misión

# Obtener el número total de misiones exitosas y fallidas
query = f"SELECT {nombre_de_la_columna_resultado}, COUNT(*) FROM {nombre_de_la_tabla} GROUP BY {nombre_de_la_columna_resultado};"
cursor.execute(query)
resultados = cursor.fetchall()

# Mostrar el número total de misiones exitosas y fallidas
for resultado, count in resultados:
    print(f"Resultado: {resultado}, Cantidad: {count}")

# Cerrar la conexión
connection.close()

Resultado: Failure (in flight), Cantidad: 1
Resultado: Success, Cantidad: 98
Resultado: Success , Cantidad: 1
Resultado: Success (payload status unclear), Cantidad: 1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [42]:
connection = sqlite3.connect('my_data1.db')  # Reemplaza con el nombre de tu base de datos
cursor = connection.cursor()

# Nombre de la tabla y columnas
nombre_de_la_tabla = 'SPACEXTABLE'  # Reemplaza con el nombre de tu tabla
nombre_de_la_columna_version = 'Booster_Version'  # Reemplaza con el nombre de la columna de versiones de cohetes
nombre_de_la_columna_carga_util = 'PAYLOAD_MASS__KG_'  # Reemplaza con el nombre de la columna de masa de carga útil

# Obtener nombres de versiones de cohetes con carga útil máxima
query = f"SELECT {nombre_de_la_columna_version} FROM {nombre_de_la_tabla} WHERE {nombre_de_la_columna_carga_util} = (SELECT MAX({nombre_de_la_columna_carga_util}) FROM {nombre_de_la_tabla});"
cursor.execute(query)
versiones_max_carga_util = cursor.fetchall()

# Mostrar los nombres de las versiones de cohetes
for version in versiones_max_carga_util:
    print(version[0])

# Cerrar la conexión
connection.close()

F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [48]:
# Conectar a la base de datos
conexion = sqlite3.connect('my_data1.db')  # Reemplaza con el nombre real de tu base de datos
cursor = conexion.cursor()

# Nombre de la tabla y columnas
nombre_de_tabla = 'SPACEXTABLE'  # Reemplaza con el nombre real de tu tabla
columna_fecha = 'Date'  # Reemplaza con el nombre de tu columna de fecha
columna_resultado_aterrizaje = 'Mission_Outcome'  # Reemplaza con el nombre de tu columna de resultado de aterrizaje
columna_version = 'Booster_Version'  # Reemplaza con el nombre de tu columna de versiones de cohetes
columna_sitio_lanzamiento = 'Launch_Site'  # Reemplaza con el nombre de tu columna de sitio de lanzamiento

# Obtener registros para resultados de aterrizaje fallidos en drone ship en los meses del año 2015
consulta = f"""
    SELECT 
        CASE substr({columna_fecha}, 4, 2)
            WHEN '01' THEN 'Enero'
            WHEN '02' THEN 'Febrero'
            WHEN '03' THEN 'Marzo'
            WHEN '04' THEN 'Abril'
            WHEN '05' THEN 'Mayo'
            WHEN '06' THEN 'Junio'
            WHEN '07' THEN 'Julio'
            WHEN '08' THEN 'Agosto'
            WHEN '09' THEN 'Septiembre'
            WHEN '10' THEN 'Octubre'
            WHEN '11' THEN 'Noviembre'
            WHEN '12' THEN 'Diciembre'
        END AS Mes,
        {columna_resultado_aterrizaje},
        {columna_version},
        {columna_sitio_lanzamiento}
    FROM {nombre_de_tabla}
    WHERE substr({columna_fecha}, 7, 4) = '2015'
        AND {columna_resultado_aterrizaje} LIKE 'Failure';
"""
cursor.execute(consulta)
registros = cursor.fetchall()

# Mostrar los registros
for registro in registros:
    print(registro)

# Cerrar la conexión
conexion.close()

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [46]:
# Conectar a la base de datos
conexion = sqlite3.connect('my_data1.db')  # Reemplaza con el nombre real de tu base de datos
cursor = conexion.cursor()

# Nombre de la tabla y columna
nombre_de_tabla = 'SPACEXTABLE'  # Reemplaza con el nombre real de tu tabla
columna_fecha = 'Date'  # Reemplaza con el nombre de tu columna de fecha
columna_resultado_aterrizaje = 'Mission_Outcome'  # Reemplaza con el nombre de tu columna de resultado de aterrizaje

# Obtener el ranking del recuento de resultados de aterrizaje entre las fechas especificadas
consulta = f"""
    SELECT {columna_resultado_aterrizaje}, COUNT({columna_resultado_aterrizaje}) AS Recuento
    FROM {nombre_de_tabla}
    WHERE {columna_fecha} BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY {columna_resultado_aterrizaje}
    ORDER BY Recuento DESC;
"""
cursor.execute(consulta)
resultados = cursor.fetchall()

# Mostrar el ranking de recuento de resultados de aterrizaje
for resultado in resultados:
    print(f"Resultado de Aterrizaje: {resultado[0]}, Recuento: {resultado[1]}")

# Cerrar la conexión
conexion.close()

Resultado de Aterrizaje: Success, Recuento: 31
Resultado de Aterrizaje: Failure (in flight), Recuento: 1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>